*{
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    width: 80%;
    margin: auto;
    /* padding: 20px 0; */
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
body{
    background-color: rgb(25, 25, 37);
    display: flex;
    height: 100vh;
}
main{
    display: grid;
    grid-template-areas:

    'a a a a b b'
    'a a a a b b'
    'c c c d d d'
    'c c c e e e'
    ;
    gap: 15px;
    width: 60%;
    height: 80vh;
    margin: auto;
    /* grid-template-rows: 150px; */
    /* grid-template-columns: (3,1fr); */
}

main div{
    padding: 2em;
    text-align: center;
}
.one{
    background-color: orangered;
    grid-area: a;
}
.two{
    background-color:orange;
    grid-area: b;
}
.three{
    background-color: green;
    grid-area: c;
}
.four{
    background-color: skyblue;
    grid-area: d;
}
.five{
    background-color: skyblue;
    grid-area: e;
}